#app {
  display: flex;
  justify-content: space-between;
}

.form-container,
.preview-container {
  flex: 1;
}

.form-container {
  margin-right: 20px;
}



/* Estilos para o tema dark */
.dark-mode {
  background-color: #333;
  color: #262020;
}


